*.csproj.user
*.suo
*/bin/*
*/obj/*
packages/*
!packages/repositories.config
*/logs/*
bin/*
obj/*
*.nupkg
*.user
/.vs/Topshelf.Common.Logging/v15/Server/sqlite3
/_ReSharper.Caches/ReSharperPlatformVs15191_58bcf271.Topshelf.Common.Logging.00
